.container {
    display: flex;
    justify-content: space-around;
}

.image-container {
    text-align: center;
    margin: 20px;

}

.image-container img {
    width: 100px; /* Ajusta el tamaño de las imágenes según tu preferencia */
    height: auto; /* Para mantener la proporción */
}