html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    --dark-blue: #051d3b; 
    --white: #fafafa; 
    --yellow: yellow; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

body {
  width: 100%;
  background-color: skyblue;
} 

header {
  background: linear-gradient(to bottom,#007bff, skyblue);
  width: 100%;
  position: fixed;  /* Para fixear en el top de la página */ 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 50px 10px 0px;
  margin: 0 auto;
  z-index: 2; /* Para que se vea siempre por encima */
}

.logo-img {
  width: 100%;
  max-width: 200px;
  min-width: 150px;
  max-height: 80px;
  padding-left: 0px;
}

ul li {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border: 1px solid transparent;
  transition: 0.3s;
} 

.navbar, .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 10px; 
}

.navbar-list a {
  color: var(--white);
  font-size: 14px;
}

.navbar-list a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.btn-signin, .btn-signup {
    margin: 10 25px;
    border: solid 1px white;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #007bff;
    color: var(--white);
    cursor: pointer; 
  
  }

  .btn-signin:hover {
    color: black;
    
  }
  
  .btn-signup:hover { 
    color: black; 
  }

  #menu-toggle,
  .menu-label {
   display: none; 
  }

main {
  background-color: skyblue; 

}
/************************************** */ 

.hero_section {
    height: calc(100vh); /* tener en cuenta los 80px del navbar*/ 
    background-color: pink;
    background-image: url(./img/color-visualizer-1024x303.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    max-width: 100%;
    margin: 0 auto;
} 

.hero_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 2; 
}

.hero_section * {
    z-index: 1;
    position: relative;
} 

.hero_section-text h1 {
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    color: var(--white);
    line-height: 1; 
    font-weight: 700;
    background: linear-gradient(to top, #007bff, skyblue);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
} 

.hero_section-text h1 span { 
    display: block;
    color: yellow;
} 

.hero_section-text p {
  font-size: 30px;
  text-align: center;
  color: var(--white);
  padding: 30px;
  background: linear-gradient(to top, skyblue, #007bff);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

/* ********************************** */ 

#info {
  padding: 70px 40px; /* arriba y abajo 70px, izq y der 0px*/
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px; /* distancia entre cards y titulo */
  margin-top: 20px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
  color: var(--white);
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--white);
  border-radius: 10px;
  gap: 10px;
  border: 2px solid black;
}

.info-card img {
  width: 70px;
  border-radius: 20px;
  border: 2px solid black;
}

.info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-card p {
  font-size: 14px;
  font-weight: 450;
}

/* ********************************** */ 
#discover {/**/
  margin-top: 50px; /* distancia entre el header y la section hero */
  padding: 70px 0; /* padding arriba y abajo para que no se pegue tanto al borde */
  max-width: 1200px;
  margin: 0 auto; /* ponerlo siempre que usamos max-width para centrar */ 
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%
}

.discover-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.discover-info h1 {/**/
  font-size: 35px;
  width: 90%;
  min-width: 500px; /*Para que nunca ocupe menos que esto en desktop*/
  font-weight: 800;
  color: var(--white);
  /* background: linear-gradient(to top, #30cfd0, #c43ad6); /* css auto prefix */
  /* background-clip: text;
  color: transparent;
  -webkit-background-clip: text; */ 
}

.discover-info span {
  font-weight: 800;
}

.discover-info p {/**/
  font-size: 20px;
  width: 80%;
  color: var(--dark-blue);
}

.discover-info a {/**/
  color: var(--white);
  background-color: #007bff;
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--white);
}

.discover-product {
  width: 300px;
  background: white;
  /*background: #007bff;*/
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 2px solid black;
}

.discover-product img {
  border-radius: 20px;
  height: 280px;
}

.discover-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* abarca el 100% del contenedor */
  gap: 5px;
}

.discover-product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.discover-product-top h3 {
  color: black;
  margin-bottom: 5px;
  font-size: 16px; 
}

/* ********************************** */ 

#Products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
    background-color: skyblue;
  } 

  #Products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
    color: var(--white);
  } 

  .categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  } 

  .categoria {
    background: #007bff;
    border: none;
    padding: 10px 15px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
  } 

.activa {
    background: blue;
  } 

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  padding: 40px 0;
  max-width: 1200px;
  }

.product img {
    width: 200px;
    height: 250px;
    border-radius: 20px;
  }

.product {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    gap: 10px;
    border: 2px solid black;
  } 

  .product:hover {
    transform: scale(1.03);
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /* abarca el 100% del contenedor */
    gap: 5px;
  }

  .product-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-top h3 {
    color: black; 
    font-size: 16px;
    margin-bottom: 5px;
  } 

  .product-top p {
    font-size: 16px;
    font-weight: 800; 
    margin-bottom: 10px;
  }

  .btn-add {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: var(--white); 
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
  } 

  .btn-load {
    background: #007bff;
    border: 1px solid var(--white);
    padding: 10px 35px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
  }

  .btn-load:hover {
    background: blue;
  }

/* ********************************** */  

#Contacto {
    background-color: skyblue;
    padding: 40px; 
    max-width: 1200px; 
    margin: 0 auto;
} 

.containerC {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  color: var(--white);
} 

.containerC h2 {
  font-size: 32px;
}

.contact__formContainer {
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 50px;
} 

.contact__formContainer-form {
    display: flex;
}

.contact__formContainer-form .form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.contact__formContainer-form .form__item label {
    font-size: 20px;
    color: var(--white);
    font-weight: 200;
    text-align: center;
    margin: 0 0 15px 0; 
}

.contact__formContainer-form .form__item input {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
    width: 100%; 
    border: 1px solid black;
} 

.contact__formContainer-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.contact__formContainer-form form button {
    width: 40%;
    align-self: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #007bff;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid var(--white);
    color: var(--white);
} 

#comentarios {
  border: 1px solid black;
  width: 75%;
}

/* ********************************** */ 

footer {
    background: skyblue;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    /* max-width: 1200px; */
    margin: 0 auto;
    background: linear-gradient(to bottom, skyblue, #007bff);
  }
  
  footer a,
  footer p {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 16px;
  }
  
  footer p span {
    font-weight: 900;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  } 

  .footer-links a:hover {
    border-bottom: 1px solid black;
  }

  .icons { 
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .icons a:hover {
    transform: scale(1.1)translateY(-5px);
  }
  